:root{
    --cor-btc: #f7931a;
    --cor-eth: #8c8c8c;
    --cor-doge: #f8bf1a;
    --cor-rodape: #16161a;
    --cor-texto: #fafafa;
    --cor-btc-cash:#79c152 ;
    --cor-ripple: #dddded;
    --cor-litecoin: #ffea94;
    --cor-solana: #2488ff;
    
    --border-radius-cartao: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;

    --padding-cartao: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--cor-claro);
}

/*mudar isso*/
.st-emotion-cache-h4xjwg {
    color: aqua;
}

.header-graf{
    display: flex; 
    align-items: center;
    margin-left: 1rem;
}
.header-graf h1{
    margin-left: 0.8rem;
    font-size: 60px ;
}


.crypto-info, .header-graf h1 {
    font-family: 'Source Sans Pro';
    font-weight: bold;
    font-style: italic;
    display: block; 
    text-align: center;
}

.crypto-info{
    font-size: 30px;
}

.crypto-info.bitcoin{
    color: var(--cor-btc); 
}
.crypto-info.ethereum{
    color: var(--cor-eth);
}
.crypto-info.dogecoin{
    color: var(--cor-doge);
}

.crypto-info.bitcoin-cash{
    color: var(--cor-btc-cash);
}

.crypto-info.ripple{
    color: var(--cor-ripple);
}

.crypto-info.litecoin{
    color: var(--cor-litecoin);
}

.crypto-info.solana{
    color: var(--cor-solana);
}


footer {
    background-color: var(--cor-rodape);
    color: var(--cor-texto);
    padding: var(--padding-1);
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    margin: 0; 
    display: flex;
    align-items: center;
    font-size: large;
}